.help-menu {
    width: 4rem;
    height: 4rem;
    position: fixed;
    bottom: 5%;
    right: 3%;
    overflow: hidden;
    background-color: $primary-color;
    color: $black;
    border: $border;
    border-color: $secondary-color;
    border-radius: 3rem;
    box-shadow: $shadow;
    transition: 0.3s ease-in;
    transition-property: width, height;
    .help-icon {
        width: 80%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        z-index: 100;
    }
    svg * {
        fill: $secondary-color;
    }
    &.active {
        width: 25rem;
        height: 30rem;
        .help-content {
            visibility: visible;
        }
        .help-icon {
            pointer-events: none;
        }
    }
}
.help-menu:not(.active):hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}
.help-content {
    position: relative;
    visibility: hidden;
    margin: 1%;
    z-index: 200;
    h3 {
        text-align: center;
    }
    ul {
        margin: 10% 0;
        list-style: square;
    }
    li {
        margin-bottom: 10%;
    }
    .close-icon {
        width: 8%;
        position: absolute;
        top: 3%;
        right: 5%;
        cursor: pointer;
    }
}
.close-icon:hover {
    transform: scale(1.1);
}