.settings-button  {
    width: 4rem;
    height: 4rem;
    position: fixed;
    top: 5%;
    right: 3%;
    background-color: $primary-color;
    border: $border;
    border-radius: 5rem;
    border-color: $secondary-color;
    box-shadow: $shadow;
    svg {
        width: 80%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        * {
            fill: $secondary-color;
        }
    }
    &:hover {
        transform: scale(1.1);
        filter: brightness(1.1);
    }
}
.settings {
    .modal {
        width: 30%;
    }
    .slider {
        display: flex;
        justify-content: center;
        gap: 5%;
        margin: 10% 0;
        svg * {
            fill: $grey;
        }
    }
    input {
        width: 50%;
    }
}
input[type="range"] {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background: none;
    &::-webkit-slider-runnable-track {
        height: 0.5rem;
        background: $grey;
        border-radius: 5rem;
    }
    &::-moz-range-track {
        height: 0.5rem;
        background: $grey;
        border-radius: 5rem;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 1.75rem;    
        height: 1.75rem;
        background-color: scale-color($primary-color, $lightness: -40%);
        border: $border;
        border-color: $grey;
        border-radius: 5rem;
        cursor: pointer;
        transform: translateY(-35%);
    }
    &::-moz-range-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 1.75rem;    
        height: 1.75rem;
        background-color: scale-color($primary-color, $lightness: -40%);
        border: $border;
        border-color: $grey;
        border-radius: 5rem;
        cursor: pointer;
        transform: translateY(-35%);
    }
}