$body-color: rgb(198, 198, 235);
$container-color: rgb(147, 147, 182);
$square-color: #01BBF8;
$piece-color: #068B06;
$map-size: 700px;
$piece-size: $map-size/7;
$inside-margin: 30;
*{
    box-sizing: border-box;
}
body {
    background-color: $body-color;
}
.map {
    // background-color: yellow;
    width: $map-size;
    height: $map-size;
    margin: 2% auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    .square {
        visibility: hidden;
        background-color: $square-color;
    }
    .active {
        visibility: visible;
    }
}
.piece,.square {
    border: 5px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        background-color: rgba(255, 255, 255, 0.2);
        width: $piece-size - $inside-margin;
        height: $piece-size - $inside-margin;
    }
}
.piece-container {
    background-color: $container-color;
    $container-margin: 50;
    width: ($piece-size*2) + $container-margin;
    height: $piece-size + $container-margin;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0.2);
}
.piece {
    background-color: $piece-color;
    width: $piece-size*2;
    height: $piece-size;
    div {
        width: ($piece-size*2)-$inside-margin;
    }
    &.clone {
        position: fixed;
        top: 0;
        left: 0;
    }
}