$body-color: rgb(41, 160, 226);
$primary-color: rgb(116, 175, 207);
$secondary-color: scale-color($primary-color, $lightness: -20%);
$grey: scale-color($primary-color, $lightness: -60%);
$white: scale-color($primary-color, $lightness: +40%);
$black: scale-color($primary-color, $lightness: -80%);
$square-color: rgb(1, 187, 248);
$piece-color: rgb(36, 161, 36);
$placed-color: rgb(202, 140, 25);
$map-size: 600px;
$font: Arial, Helvetica, sans-serif;
$piece-size: $map-size/7;
$snap-size: 20px;
$inside-margin: 30;
$border: 5px solid rgba(0, 0, 0, 0.2);
$shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.40);
*{
    box-sizing: border-box;
}
body {
    overflow: hidden;
    background: $body-color url(../img/pattern.png);
    font-family: $font;
}
a {
    color: inherit;
    text-decoration: none;
}
main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.mouse-follower {
    position: relative;
    top: 0;
    bottom: 0;
    .piece {
        // opacity: 0.5;
        z-index: 1000;
    }
}
.snap-point {
    // background-color: red;
    width: $snap-size;
    height: $snap-size;
    position: relative;
    pointer-events: none;
    .piece {
        position: absolute;
        top: ($piece-size/2-$snap-size/2)*-1;
        left: ($piece-size/2-$snap-size/2)*-1;
        pointer-events: all;
        transform-origin: 25% 50%;
    }
}
.piece,.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.1);
    &>div {
        width: $piece-size - $inside-margin;
        height: $piece-size - $inside-margin;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.2);
    }
}
.piece {
    width: $piece-size*2;
    height: $piece-size;
    background-color: $piece-color;
    cursor: pointer;
    div {
        width: ($piece-size*2)-$inside-margin;
    }
    &.placed {
        background-color: $placed-color;
    }
    &.rotated {
        transform: rotate(90deg);
    }
    &.original.hidden {
        visibility: hidden;
    }
}
.piece-container {
    width: 50%;
    overflow: hidden;
    margin: auto;
    background-color: $primary-color;
    border-radius: 20px;
    box-shadow: $shadow;
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $secondary-color;
        color: $white;
        border-bottom: $border;
        font-size: 1.5rem;
    }
    .piece-counter {
        margin: 5% 0;
    }
    .piece {
        margin: 10% auto;
    }
}
.map-container {
    width: 90%;
    overflow: hidden;
    margin: auto;
    background-color: $primary-color;
    border-radius: 20px;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.40);
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1% 5%;
        background-color: $secondary-color;
        color: $white;
        border-bottom: $border;
        font-size: 1.5rem;
    }
}
.map {
    width: $map-size;
    height: $map-size;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin: 7% auto;
    .square {
        visibility: hidden;
        background-color: $square-color;
    }
    .active {
        visibility: visible;
    }
}
.help-menu {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 5%;
    right: 3%;
    overflow: hidden;
    background-color: $primary-color;
    color: $black;
    border: $border;
    border-radius: 50px;
    box-shadow: $shadow;
    transition: 0.3s ease-in;
    transition-property: width, height;
    .help-icon {
        width: 80%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
    }
    svg * {
        fill: rgba(0, 0, 0, 0.2);
    }
    &.active {
        width: 400px;
        height: 500px;
        .help-content {
            visibility: visible;
        }
        .help-icon {
            pointer-events: none;
        }
    }
}
.help-menu:not(.active):hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}
.help-content {
    visibility: hidden;
    margin: 1%;
    h3 {
        text-align: center;
    }
    ul {
        margin: 10% 0;
        list-style: square;
    }
    li {
        margin-bottom: 10%;
    }
    .close-icon {
        width: 8%;
        position: absolute;
        top: 3%;
        right: 5%;
        cursor: pointer;
    }
}
.close-icon:hover {
    transform: scale(1.1);
}
.settings-button {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 5%;
    right: 3%;
    overflow: hidden;
    background-color: $primary-color;
    color: $black;
    border: $border;
    border-radius: 50px;
    box-shadow: $shadow;
    transition: 0.3s ease-in;
    transition-property: width, height;
    svg {
        width: 80%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        * {
            fill: rgba(0, 0, 0, 0.2);
        }
    }
    &:hover {
        transform: scale(1.1);
        filter: brightness(1.1);
    }
}
.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    &.active {
        visibility: visible;
        .modal {
            // transform: scale(1);
            // transform: translateY(0);
            animation: drop-down 0.5s ease-in-out forwards;
        }
    }
    &.win {
        .modal {
            width: 20%;
            height: 20%;
        }
    }
    &.settings {
        .modal {
            width: 30%;
        }
    }
}
.modal {
    position: relative;
    overflow: hidden;
    background-color: $primary-color;
    border-radius: 50px;
    // transform: scale(0);
    // transform: translateY(-100vh);
    transition: transform 0.15s ease-in;
    svg {
        width: 50px;
    }
    .modal-title {
        margin: 0;
        padding: 2% 0;
        background-color: $secondary-color;
        color: $white;
        border-bottom: $border;
        font-size: 3rem;
        text-align: center;
    }
    .buttons {
        display: flex;
        justify-content: center;
        gap: 5%;
        margin: 5% 0;
    }
    a {
        // width: 30%;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
        background-color: $secondary-color;
        color: $white;
        // border: $border;
        // border-width: 3px;
        border-radius: 15px;
        svg * {
            fill: $primary-color;
        }
        &:hover {
            transform: scale(1.1);
            filter: brightness(1.1);
        }
    }
    .close-icon {
        width: 5%;
        position: absolute;
        top: 5%;
        right: 5%;
        cursor: pointer;
        * {
            fill: $white;
        }
    }
}
.settings {
    .slider {
        display: flex;
        justify-content: center;
        gap: 5%;
        margin: 10% 0;
        svg * {
            fill: $grey;
        }
    }
    input {
        width: 50%;
    }
}
input[type="range"] {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background: none;
    &::-webkit-slider-runnable-track {
        height: 0.5rem;
        background: $grey;
        border-radius: 50px;
    }
    &::-moz-range-track {
        height: 0.5rem;
        background: $grey;
        border-radius: 50px;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 1.75rem;    
        height: 1.75rem;
        background-color: scale-color($primary-color, $lightness: -40%);
        border: $border;
        border-color: $grey;
        border-radius: 50px;
        cursor: pointer;
        transform: translateY(-35%);
    }
    &::-moz-range-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 1.75rem;    
        height: 1.75rem;
        background-color: scale-color($primary-color, $lightness: -40%);
        border: $border;
        border-color: $grey;
        border-radius: 50px;
        cursor: pointer;
        transform: translateY(-35%);
    }
}
@keyframes drop-down {
    0% {
        transform: translateY(-100vw);
    }
    70% {
        transform: translateY(1vw);
    }
    80% {
        transform: translateY(-1vw);
    }
    100% {
        transform: translateY(0);
    }
}