$body-color: rgb(41, 160, 226);
$primary-color: rgb(116, 175, 207);
$secondary-color: scale-color($primary-color, $lightness: -20%);
$grey: scale-color($primary-color, $lightness: -60%);
$white: scale-color($primary-color, $lightness: +40%);
$black: scale-color($primary-color, $lightness: -80%);
$square-color: rgb(1, 187, 248);
$piece-color: rgb(36, 161, 36);
$placed-color: rgb(202, 140, 25);
$map-size: 600px;
$font: Arial, Helvetica, sans-serif;
$piece-size: $map-size/7;
$snap-size: 20px;
$inside-margin: 30;
$border: 5px solid rgba(0, 0, 0, 0.2);
$shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.40);